@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 300;
    src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 400;
    src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 600;
    src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 900;
    src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2');
}

:root {

    --color-primary-dark: #311a2d;
    --color-primary-light: #faf4ea;
    --color-brand-light: #819B57;
    --color-brand-dark: #465929;

}

/* Base */

* {
    box-sizing: border-box;
}
 
body {
color: var(--color-primary-dark);
font-family: 'Poppins' sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 1,5;
margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: none;
}

address { 
    font-style: normal;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
}

.section {
padding: 48px 0;
}

.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}

/* Button */
.button {
    /* batton */
        color: var(--color-primary-light);
        font-weight: 600;
        background-color: var(--color-brand-light);
        border: 2px solid var(--color-brand-light);
        border-radius: 8px;
        cursor: pointer;
        padding: 16px 32px;
        

}

.button:hover {
    color: var(--color-brand-light-dark);
    background-color: transparent;
}
/* Link */
.link {
    color: var(--color-primary-light);
    text-decoration: none;
    
}

.link:hover {
    color: var(--color-brand-light);
    /* font-weight: 600; */
}

/* Header  */

.header-container {
    display: flex;
    align-items: center;
    gap: 40px;
}
.header-nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 40px;
}
.header-menu {
    display: flex;
    gap: 64px;
    flex-grow: 1;
    justify-content: center;
    /* justify-content: space-around; */
}

/* Hero section */
.hero-section {
    padding: 272px 0;
}
.hero-title {
    margin-bottom: 0;
    color: var(--color-primary-light);
    text-align: center;
    font-size: 128px;
    font-weight: 900;
}

.hero-title .accent {
    
    color:  var(--color-brand-light);
}
/* advantages section */
.advantages-list {
    color: var(--color-primary-light);
    background-color: var(--color-brand-light);
}

.advantages-item {
font-size: 20px;
font-weight: 300;
}

.section-title {

font-size: 64px;
font-weight: 900;
line-height: 1.3;
}

.section-title .accent {
    color: var(--color-brand-dark); 
}

/* Traditions section */
.section-traditions {
    margin-bottom: 42px;
}

.new-wood-pizza {
    padding-top: 96px;
}

.traditions-text .brand{
    color: var(--color-brand-light);
    font-weight: 600;
}
.traditions-text .uppercase {
    text-transform: uppercase;
}

/* Chefs Sections */
.chef-title {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 40px;
    
}
.chefs-title {
    margin-bottom: 80px;
}

/* Format sections */
.formats-title {
    margin-bottom: 80px;
}
.format-title {
    font-weight: 600;
    font-size: 24px;
}
.format-text {
font-weight: 300;
font-size: 14px;
}
/* Found Title */

.found-title {
margin-bottom: 16px;
}

/* Footer */
.address-link {
    color: var(--color-primary-light);
    font-weight: 300;
    font-size: 16px;
    text-decoration: none;
    
}
.address-link:hover {
    color: var(--color-brand-dark);
}

.address-copyright {
    font-size: 14px;
}