* {
    box-sizing: border-box;
}

.flex-container {
display: flex;
justify-content: center;
flex-wrap: wrap;
}


/* .box-parent {
    padding-top: 50px;
} */

.item {
width: 100px;
height: 100px;
background-color: burlywood;
padding: 10px;
 border: 5px solid black;
 /* border-radius: 5px; */
 margin: 10px ; 
}
